@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  cursor: none;
}


/* Hide scrollbar during loading */
body.loading {
  overflow: hidden;
}
.hero{
  background-color: transparent;
  backdrop-filter: blur(0px);
 
}
.header{
  background-color: transparent;
  backdrop-filter: blur(40px);
  margin: auto;
  top: 40px;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px #901937;

  border-radius: 100px;
  padding: 10px 2%;
}


/* this is the code  */
.letstalkbutton {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px ();
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(0, 0, 0);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
}

.letstalkbuttonicon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.letstalkbutton:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.letstalkbutton:hover .icon {
  transform: translate(4px);
}

.letstalkbutton:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.letstalkbutton::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

.casestudiesButton,
.casestudiesButton *,
.casestudiesButton :after,
.casestudiesButton :before,
.casestudiesButton:after,
.casestudiesButton:before {
  border: 0 solid;
  box-sizing: border-box;
}
.casestudiesButton {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
 
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.casestudiesButton:disabled {
  cursor: default;
}
.casestudiesButton:-moz-focusring {
  outline: auto;
}
.casestudiesButton svg {
  display: block;
}
.button [hidden] {
  display: none;
}
.casestudiesButton {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.casestudiesButton span {
  mix-blend-mode: difference;
}
.casestudiesButton:after,
.casestudiesButton:before {
  background: linear-gradient(
    90deg,
    #fff 25%,
    transparent 0,
    transparent 50%,
    #fff 0,
    #fff 75%,
    transparent 0
  );
  content: "";
  inset: 0;
  position: absolute;
  transform: translateY(var(--progress, 100%));
  transition: transform 0.2s ease;
}
.casestudiesButton:after {
  --progress: -100%;
  background: linear-gradient(
    90deg,
    transparent 0,
    transparent 25%,
    #fff 0,
    #fff 50%,
    transparent 0,
    transparent 75%,
    #fff 0
  );
  z-index: -1;
}
.casestudiesButton:hover:after,
.casestudiesButton:hover:before {
  --progress: 0;
}
.menubar a{
  position: relative;
  text-decoration: none;
  padding: 0px 5px;
}
.menubar a::before{
  background: #901937;
  content: "";
  inset: 0;
  position: absolute;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}
.menubar a:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}

@media screen and (max-width: 1023px){
  .project_slider .animate1 {
    animation: horTicker 20s linear infinite forwards;
  }
  
  @keyframes horTicker {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  .project_slider .animate2 div {
    box-shadow: 
    0px 4px 10px rgba(255, 255, 255, 0.4),
    0px 8px 20px rgba(255, 255, 255, 0.2);
  
  }
  .project_slider .animate2 {
    animation: horTicker2 20s linear infinite backwards;
    
  }
  
  @keyframes horTicker2 {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0%);
    }
  }
  
}
@media screen and (min-width: 1024px){
  .project_slider .animate1 {
    animation: horTicker 20s linear infinite forwards;
  }
  
  @keyframes horTicker {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-50%);
    }
  }
  .project_slider .animate2 div {
    box-shadow: 
    0px 4px 10px rgba(255, 255, 255, 0.4),
    0px 8px 20px rgba(255, 255, 255, 0.2);
  
  }
  .project_slider .animate2 {
    animation: horTicker2 20s linear infinite backwards;
    
  }
  
  @keyframes horTicker2 {
    from {
      transform: translateY(-50%);
    }
    to {
      transform: translateY(0%);
    }
  }
  
}

:root {
  --color: #fff;
  --active: #fff;
}

.toggle {
  display: block;
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle input + div {
  width: 20px;
  height: 14px;
  position: relative;
}

.toggle input + div div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: transform 0.5s ease;
}

.toggle input + div div span {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

.toggle input + div div span:first-child {
  top: 0;
}

.toggle input + div div span:first-child:before,
.toggle input + div div span:first-child:after {
  top: 0;
}

.toggle input + div div span:last-child {
  bottom: 0;
}

.toggle input + div div span:last-child:before,
.toggle input + div div span:last-child:after {
  bottom: 0;
}

.toggle input + div div span:before,
.toggle input + div div span:after {
  content: '';
  display: block;
  width: 47%;
  height: 2px;
  border-radius: 1px;
  background: var(--color);
  position: absolute;
  -webkit-backface-visibility: hidden;
  transition: transform 0.5s ease, border-radius 0.3s ease, background 0.4s ease;
}

.toggle input + div div span:before {
  left: 0;
  transform-origin: 0 50%;
  transform: translate(1px, 0) scaleX(1.1);
}

.toggle input + div div span:after {
  right: 0;
  transform-origin: 100% 50%;
  transform: translate(-1px, 0) scaleX(1.1);
}

.toggle input + div svg {
  display: block;
  fill: none;
  stroke: var(--color);
  stroke-width: 2px;
  width: 44px;
  height: 44px;
  stroke-linecap: round;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -22px 0 0 -22px;
  stroke-dasharray: 0 82.801 8 82.801;
  stroke-dashoffset: 82.801;
  transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  transform: scale(1);
  transition: stroke-dashoffset 0.5s ease, stroke-dasharray 0.6s ease, transform 0.5s ease, stroke 0.4s ease;
}

.toggle input + div svg:nth-child(3) {
  transform: rotate(180deg) scale(1);
}

.toggle input:checked + div {
  transform: rotate(90deg);
}

.toggle input:checked + div div {
  transform: rotate(90deg);
}

.toggle input:checked + div div span:before,
.toggle input:checked + div div span:after {
  background: var(--active);
}

.toggle input:checked + div div span:first-child:before {
  transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
}

.toggle input:checked + div div span:first-child:after {
  transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
}

.toggle input:checked + div div span:last-child:before {
  transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
}

.toggle input:checked + div div span:last-child:after {
  transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
}

.toggle input:checked + div svg {
  stroke-dashoffset: 62;
  stroke-dasharray: 0 82.801 62 82.801;
  transform: rotate(90deg);
  stroke: var(--active);
}

.toggle input:checked + div svg:nth-child(3) {
  transform: rotate(270deg);
}